body 
{
    background: #A2E2A3;
    text-align: center;
    font-family: Arial;
    color: #333;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background: #8FC790;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: #1E471F;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo {
    width: 40px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#post {
    background: white;
    padding: 1em;
}

#footer {
    background: #9CD498;
    color: #293828;
    text-align: center;
    padding: 0.3em;
}